.header-section {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    margin-top: 20px;
}
.header-section p{
    font-size: 40px;
    font-weight: 700;
}